body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.inner-display {
    background-color: #1b1c21d0;
    color: azure;
    padding: 25px;
    border-radius: 25px;
    width: 25%;
}

.search-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background-color: dimgrey;
    color: ghostwhite;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    margin: 0.5em;
}

.search-location > button {
    background-color: dimgrey;
    color: ghostwhite;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.search-location > button:hover {
    background-color: grey;
    transition: 0.5s ease-in-out;
}

.main-info.loading {
    visibility: hidden;
}

.main-info.loading:after {
    visibility: visible;
    content: "Loading...";
    color: azure;
    width: 25%;
}

.current-temperature {
    cursor: pointer;
}

.icon-box {
    display: flex;
    align-items: center;
    margin: none;
    padding: none;
}

.description {
    text-transform: capitalize;
}

.feels-like {
    cursor: pointer;
}

.solar-data > button {
    background-color: thistle;
    color: #1b1c21d0;
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

/* .sunrise-sunset.hidden {
    visibility: hidden;
}

.sunrise-sunset.hidden:after {
    visibility: visible;
} */